[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "actuar"]
	path = actuar
	url = https://github.com/cran/actuar
[submodule "expint"]
	path = expint
	url = https://github.com/cran/expint
[submodule "roger"]
	path = roger
	url = https://github.com/cran/roger
[submodule "RweaveExtra"]
	path = RweaveExtra
	url = https://github.com/cran/RweaveExtra
